.font-size-26 {
    font-size: rem(26px);
}

.grey-p {
    font-size: rem(18px);
    line-height: rem(26px);
    text-align: center;
    color: #797979;
}

.padding-20 {
    padding: 0 rem(20px) 0 rem(20px);
}

.black-MORE {
    font-weight: 700;
    font-size: rem(14px);
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
}

.grey-line {
    height: rem(11px);
    border-top: rem(1px) solid #f1f1f1;
    width: 100%
}