    @import "~sass-rem";
    @import 'general';
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        display: flex;
        justify-content: center;
    }

    body {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: rem(1000px)) {
            width: rem(1000px);
        }
    }

    header {
        .top-header {
            background-image: url('https://livedemo00.template-help.com/newsletter_54880/images/bg-pattern-1.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            width: 100%;
            #header-1 {
                width: 100%;
                height: 100%;
                max-width: rem(600px);
                min-width: rem(280px);
            }
        }
        .bottom-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            position: relative;
            #header-2 {
                width: 100%;
                height: 100%;
                max-width: rem(600px);
                min-width: rem(280px);
            }
            #header-line {
                z-index: -1;
                position: absolute;
                top: rem(11px);
            }
            #logo {
                width: 100%;
                padding: rem(10px) 0 rem(32px) 0;
                max-width: rem(240px);
            }
        }
    }

    .welcome {
        // font-family: $default-font-family;
        background: -webkit-linear-gradient(#F3F3F3, white);
        background: -o-linear-gradient(#F3F3F3, white);
        background: -moz-linear-gradient(#F3F3F3, white);
        background: linear-gradient(#F3F3F3, white);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-color: #e4e4e4;
        #welcome-title {
            padding: rem(31px) 0 rem(41px) 0;
        }
        #decoration-1 {
            padding: 0 0 rem(49px) 0;
        }
        #welcome-MORE {
            padding: rem(27px) 0 rem(22px) 0;
        }
    }

    .dishes {
        color: white;
        background-image: url('https://livedemo00.template-help.com/newsletter_54880/images/bg-pattern-2.jpg');
        display: flex;
        align-items: center;
        flex-direction: column;
        #dishes-title {
            padding: rem(56px) 0 rem(40px) 0;
        }
        .dishes-container {
            @media screen and (min-width: rem(560px)) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
            .dishes-p-container {
                padding: rem(26px) 0 rem(30px) 0;
                margin: 0 rem(12px);
                display: flex;
                flex-direction: column;
                align-items: center;
                @media screen and (min-width: rem(560px)) {
                    width: rem(172px);
                }
                img {
                    width: 100%;
                    padding: 0 0 rem(26px) 0;
                }
                .padding-10-16 {
                    padding: rem(10px) 0 rem(16px) 0;
                    text-align: center;
                }
                .dishes-MORE {
                    font-weight: 700;
                    font-size: rem(14px);
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .photos {
        display: flex;
        flex-direction: column;
        align-items: center;
        #gallery {
            padding: rem(44px) 0 rem(46px) 0;
        }
        .photo-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .group {
                @media screen and (min-width: rem(560px)) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                img {
                    width: 100%;
                    @media screen and (min-width: rem(560px)) {
                        width: rem(200px);
                    }
                }
                img:nth-child(even) {
                    padding: rem(20px) 0 rem(20px) 0;
                    @media screen and (min-width: rem(560px)) {
                        padding: 0;
                    }
                }
            }
        }
        #photo-MORE {
            padding: rem(58px) 0 rem(22px) 0;
        }
        #photo-decoration {
            padding: 0 0 rem(33px) 0;
        }
    }

    .philosophy {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .top-philosophy {
            background-image: url('https://livedemo00.template-help.com/newsletter_54880/images/bg-img-1.jpg');
            background-position: 50% 0;
            background-repeat: no-repeat;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            #philosophy-title {
                padding: rem(61px) 0 rem(37px) 0;
            }
            #philosophy-p {
                padding: 0 0 rem(53px) 0;
                line-height: rem(26px);
                text-align: center;
                max-width: rem(600px);
            }
        }
        .bottom-philosophy {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (min-width: rem(560px)) {
                justify-content: center;
            }
            .philosophy-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: rem(15px) 0 0 0;
                @media screen and (min-width: rem(560px)) {
                    flex-direction: row;
                }
                .green-title {
                    font-size: 18px;
                    color: #569e0f;
                    text-transform: uppercase;
                    padding: rem(16px) 0 rem(16px) 0;
                }
                .philosophy-MORE {
                    padding: rem(25px) 0 rem(64px) 0;
                }
            }
        }
    }

    .vegetable-container,
    .ice-cream-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        @media screen and (min-width: rem(560px)) {
            width: rem(260px);
            padding: rem(15px) rem(20px) 0 rem(20px);
        }
    }

    .testimonial {
        background-image: url("https://livedemo00.template-help.com/newsletter_54880/images/bg-img-2.jpg");
        background-repeat: no-repeat;
        background: cover;
        background-position: 25% 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        #testimonial-container {
            background-color: white;
            width: rem(320px);
            opacity: 0.8;
            padding: 0 rem(20px);
            margin: rem(66px) 0;
            @media screen and (min-width: rem(670px)) {
                margin: rem(66px) 0 rem(66px) 50%;
            }
            @media screen and (min-width: rem(860px)) {
                margin: rem(66px) 0 rem(66px) 35%;
            }
            @media screen and (min-width: rem(992px)) {
                margin: rem(66px) 0 rem(66px) 40%;
            }
            #name {
                font-size: rem(18px);
                padding: rem(25px) 0 rem(19px) 0;
            }
            #testimonial-p {
                font-style: italic;
                color: #4e4e4e;
                line-height: rem(24px);
            }
            #more-testimonial {
                padding: rem(22px) 0 rem(26px) 0;
                text-align: right;
            }
        }
    }

    .contects {
        display: flex;
        flex-direction: column;
        align-items: center;
        #contects-decoration {
            padding: rem(55px) 0 rem(24px) 0;
        }
        #contects-title {
            font-size: rem(26px);
            color: #333333;
        }
        .contects-p-container {
            font-size: rem(18px);
            text-align: center;
            line-height: rem(28px);
            padding: rem(35px) 0 rem(31px) 0;
        }
        #phone-number {
            padding: rem(19px) 0 rem(36px) 0;
        }
        .icon-container {
            padding: rem(35px) 0 rem(27px) 0;
            a {
                text-decoration: none;
            }
        }
    }

    footer {
        background-image: url('https://livedemo00.template-help.com/newsletter_54880/images/bg-pattern-1.jpg');
        background-repeat: no-repeat;
        text-align: center;
        background-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .footer-p-container {
            max-width: rem(500px);
            background-color: white;
            padding: rem(15px) rem(20px);
            font-size: rem(17px);
            border-bottom: rem(5px) solid #4a4a4a;
            a {
                color: black;
            }
        }
        #footer-bottom {
            color: #010101;
            text-align: center;
            font-size: rem(17px);
            padding: rem(27px) 0;
        }
    }